.banners-box{
	width:500px;
}
.banners-box .item img{
    display: block;
    width: 100%;
    height: auto;
}

.slider-caption {
	padding: 3px;
	margin: 0px 0 0 0;
	background-color: red !important;
}
