@font-face {
    font-family: 'Open_sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sans') format('svg');
    font-weight: normal;
    font-style: normal;
}
*,
html,
body {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
a img {outline : none;border:none;}
body
	{
		background: #fff;
		width: 100%;
		height: 100%;
		font-family: "Open_sans";
		font-size: 15px;
		font-weight: normal;
		color: #968b8b;
	}
.fluid
	{
		width: 100%;
		height: auto;
	}
.fluid > header
	{
		height: 44px;
		width: 100%;
		position: relative;
		border-bottom: 1px solid #dddddd;
	}
.fluid > header > .wrapper
	{
		height: 44px;
		position: relative;
		min-width: 1210px;
		width: 100%;
		width: 1210px;
		border-right: 1px solid #dddddd;
	}
.fluid > header > .wrapper > .left-zone
	{
		width: 202px;
		position: relative;
		top: 0;
		left: 0;
		border-right: 1px solid #dddddd;
	}
.fluid > header > .wrapper > .left-zone > .menu
	{
		height: 44px;
		width: 52px;
		border-right: 1px solid #dddddd;
		display: block;
		position: relative;
		top: 0;
		left: 0;
		cursor:pointer;
	}
.fluid > header > .wrapper > .left-zone > .menu > .bar
	{
		width: 13px;
		height: 2px;
		border: 0;
		background: #b6afaf;
		position: absolute;
		left: 21px;
	}
.fluid > header > .wrapper > .left-zone > .menu > .bar.a { top: 16px;}
.fluid > header > .wrapper > .left-zone > .menu > .bar.b { top: 21px;}
.fluid > header > .wrapper > .left-zone > .menu > .bar.c { top: 26px;}
.fluid > header > .wrapper > .left-zone > .menu > .bar.d
	{
		width: 0;
		height: 0;
		border-top: 4px solid transparent;
		border-right: 4px solid #b6afaf;
		border-bottom: 4px solid transparent;
		background: transparent;
		position: absolute;
		top: 18px;
		left: 12px;
	}
.fluid > header > .wrapper > .left-zone > .logo
	{
		color: #149fe4;
		position: absolute;
		left: 52px;
		top: 10px;
		display: block;
		width: 150px;
		text-align: center;
	}
.fluid > header > .wrapper > .right-zone
	{
		position: absolute;
		top: 0;
		right: 0;
	}
.fluid > header > .wrapper > .right-zone > .items
	{
		position: absolute;
		top: 0px;
		right: 48px;
		width: 500px;
		text-align: right;
	}
.fluid > header > .wrapper > .right-zone > .items > a
	{
		width: 48px;
		height: 44px;
		display: inline-block;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
		margin-left: -5px;
		border-left: 1px solid #dddddd;
		position: relative;
	}
.fluid > header > .wrapper > .right-zone > .items > a.user
	{
		background: transparent url(../images/icon-user.png) center center no-repeat;
	}
.fluid > header > .wrapper > .right-zone > .items > a.notices
	{
		background: transparent url(../images/icon-notify.png) center center no-repeat;
	}
.fluid > header > .wrapper > .right-zone > .items > a.messages
	{
		background: transparent url(../images/icon-messages.png) center center no-repeat;
	}
.fluid > header > .wrapper > .right-zone > .items > a.calendar
	{
		background: transparent url(../images/icon-calendar.png) center center no-repeat;
	}
.fluid > header > .wrapper > .right-zone > .items > a.user:hover,
.fluid > header > .wrapper > .right-zone > .items > a.user.active
	{
		background: #007ab7 url(../images/icon-user-active.png) center center no-repeat;
	}
.fluid > header > .wrapper > .right-zone > .items > a > span.bubble
	{
		position: absolute;
		background: #fb8f73;
		color: #fff;
		font-size: 9px;
		font-family: "Open_sans";
		font-weight: normal;
		border-radius: 3px;
		padding: 1px 3px;
		left: 20px;
		top: 6px;
	}
.fluid > header > .wrapper > .right-zone > .items  ul.user-open
	{
		position: absolute;
		top: 44px;
		right: 0px;
		width: 189px;
		text-align: right;
		background: #149fe4;
		list-style-type: none;
		display: none;
		z-index: 99;
	}
.fluid > header > .wrapper > .right-zone > .items ul.user-open > li
	{
		text-decoration: none;
		color: #fff;
		border-bottom: 1px dotted #77caf0;
		padding: 10px 0;
		position: relative;
		height: 46px;
		background-color: transparent;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
.fluid > header > .wrapper > .right-zone > .items ul.user-open > li:last-of-type
	{
		border: none;
	}
.fluid > header > .wrapper > .right-zone > .items ul.user-open > li:hover
	{
		background-color: #007ab7;
	}
.fluid > header > .wrapper > .right-zone > .items ul.user-open > li > a
	{
		color: #fff;
		position: absolute;
		left: 17px;
		top: 13px;
		text-decoration: none;
	}
.fluid > header > .wrapper > .right-zone > .items ul.user-open > li > span.icon
	{
		background-color: #007ab7;
		position: absolute;
		right: 0;
		top: 0;
		height: 45px;
		width: 47px;
		display: block;
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
.fluid > header > .wrapper > .right-zone > .items ul.user-open > li:hover > span.icon
	{
		background-color: #0a6a9a;
	}
.fluid > header > .wrapper > .right-zone > .items ul.user-open > li > span.icon.out
	{
		background-image: url(../images/icon-out.png);
	}
.fluid > header > .wrapper > .right-zone > .items ul.user-open > li > span.icon.pencil
	{
		background-image: url(../images/icon-pencil.png);
	}
.fluid > header > .wrapper > .right-zone > .items ul.user-open > li > span.icon.gear
	{
		background-image: url(../images/icon-gear.png);
	}
.fluid > header > .wrapper > .right-zone > .langlist
	{
		width: 48px;
		height: 44px;
		background-color: #fb8f73;
		text-align: center;
		border-left: 1px solid #dddddd;
	}
.fluid > header > .wrapper > .right-zone > .langlist > a
	{
		text-decoration: none;
		color: #fff;
		position: absolute;
		top: 10px;
		left: 17px;
	}
.fluid > header > .wrapper > .right-zone > .langlist  ul
	{
		list-style-type: none;
		background-color: #fb8770;
		position: absolute;
		top: 44px;
		width: 47px;
		display: none;
		z-index: 99;
	}
.fluid > header > .wrapper > .right-zone > .langlist ul > li
	{
		text-decoration: none;
		color: #fff;
		border-bottom: 1px dotted #dddddd;
		padding: 10px 0;
	}
.fluid > header > .wrapper > .right-zone > .langlist ul > li:last-of-type
	{
		border: none;
	}
.fluid > header > .wrapper > .right-zone > .langlist ul > li > a
	{
		text-decoration: none;
		color: #fff;
	}
.fluid > .content-fluid
	{
		min-width: 1210px;
		/*width: 100%;*/
		width: 1210px;
		display: table;
		vertical-align: top;
		text-align: left;
		position: relative;
	}
/*--- aside sidebar -------*/
.fluid > .content-fluid aside
	{
		width: 202px;
		height: 100vh;
		background: #149fe4;
		display: table-cell;
		vertical-align: top;
	}
.fluid > .content-fluid aside > ul.root
	{
		top: 44px;
		right: 0px;
		width: 100%;
		text-align: right;
		list-style-type: none;
		z-index: 99;
	}
.fluid > .content-fluid aside > ul.root > li
	{
		text-decoration: none;
		color: #fff;
		border-bottom: 1px dotted #77caf0;
		padding: 10px 0;
		position: relative;
		height: 50px;
		background-color: transparent;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
.fluid > .content-fluid aside > ul.root li.hasChildIndicator
	{
		background-repeat: no-repeat;
		background-position: 180px center;
		background-image: url(../images/icon-arrow-right.png);
	}
.fluid > .content-fluid aside > ul.root > li:hover,
.fluid > .content-fluid aside > ul.root > li.active
	{
		background-color: #0a6a9a;
	}
.fluid > .content-fluid aside > ul.root > li > a
	{
		color: #fff;
		position: absolute;
		right: 0px;
		top: 14px;
		padding-right: 40px;
		text-decoration: none;
		width: 100%;
		height: 30px;
		display: block;
	}
.fluid > .content-fluid aside > ul.root > li > span.icon
	{
		background-color: #007ab7;
		position: absolute;
		left: 0;
		top: 0;
		height: 49px;
		width: 51px;
		display: block;
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
.fluid > .content-fluid aside > ul.root > li > span.icon.dashboard
	{
		background-image: url(../images/icon-dashboard.png);
	}
.fluid > .content-fluid aside > ul.root > li > span.icon.pages
	{
		background-image: url(../images/icon-pages.png);
	}
.fluid > .content-fluid aside > ul.root > li > span.icon.products
	{
		background-image: url(../images/icon-products.png);
	}
.fluid > .content-fluid aside > ul.root > li > span.icon.settings
	{
		background-image: url(../images/icon-settings.png);
	}

.fluid > .content-fluid aside > ul.root > li ul
	{
		position: absolute;
		top: 0px;
		right: -202px;
		list-style-type: none;
		width: 202px;
		background-color: #007ab7;
		display: none;
	}
.fluid > .content-fluid aside > ul.root > li ul > li
	{
		text-decoration: none;
		color: #fff;
		border-bottom: 1px dotted #77caf0;
		padding: 10px 0;
		position: relative;
		height: 50px;
		background-color: transparent;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
.fluid > .content-fluid aside > ul.root > li ul > li > a
	{
		color: #fff;
		position: absolute;
		left: 20px;
		top: 14px;
		text-decoration: none;
		width: 150px;
		padding-left: 30px;
		text-align: left;
		background: transparent url(../images/icon-dbl-arrow-right.png) 0px center no-repeat;
	}
.fluid > .content-fluid aside > ul.root > li ul > li:hover,
.fluid > .content-fluid aside > ul.root > li ul > li.active
	{
		background-color: #0a6a9a;
	}
/*------ -------*/
.fluid main
	{
		width: 100%;
		float: left;
		display: table-cell;
		padding-left: 30px;
	}
.fluid > .content-fluid > main > .title-bar
	{
		width: 100%;
		height: 78px;
		position: relative;
	}
.fluid > .content-fluid > main > .title-bar > h1
	{
		color: #968b8b;
		font-size: 21px;
		font-weight: normal;
		position: absolute;
		left: 0;
		top: 24px;
	}
.fluid > .content-fluid > main > .title-bar > .actions
	{
		position: absolute;
		right: 0;
		height: 40px;
		top: 19px;
		display: block;
		list-style-type: none;
	}
.fluid > .content-fluid > main > .title-bar > .actions > li
	{
		display: inline-block;
	}
.fluid > .content-fluid > main > .title-bar> .actions > li > .action
	{
		width: 40px;
		height: 40px;
		border-radius: 2px;
		display:block;
		margin-left: 4px;
	}
.fluid > .content-fluid > main > .title-bar > .actions > li > .action.add
	{
		background: #149fe4 url(../images/icon-plus.png) center center no-repeat;
		border: 1px solid #0084c6;
	}
.fluid > .content-fluid > main > .title-bar > .actions > li > .action.del
	{
		background: #fb8f73 url(../images/icon-delete.png) center center no-repeat;
		border: 1px solid #eb603c;
	}