#pre-load-overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 9999;

}
#floatingCirclesG{
    position: absolute;
    width:50px;
    height:50px;

    /*-moz-transform:scale(0.6);*/
    /*-webkit-transform:scale(0.6);*/
    /*-ms-transform:scale(0.6);*/
    /*-o-transform:scale(0.6);*/
    /*transform:scale(0.6);*/

    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
}

.f_circleG{
    position:absolute;
    background-color:#FFFFFF;
    height:9px;
    width:9px;
    -moz-border-radius:5px;
    -moz-animation-name:f_fadeG;
    -moz-animation-duration:0.64s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:normal;
    -webkit-border-radius:5px;
    -webkit-animation-name:f_fadeG;
    -webkit-animation-duration:0.64s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -ms-border-radius:5px;
    -ms-animation-name:f_fadeG;
    -ms-animation-duration:0.64s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:normal;
    -o-border-radius:5px;
    -o-animation-name:f_fadeG;
    -o-animation-duration:0.64s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:normal;
    border-radius:5px;
    animation-name:f_fadeG;
    animation-duration:0.64s;
    animation-iteration-count:infinite;
    animation-direction:normal;
}

#frotateG_01{
    left:0;
    top:20px;
    -moz-animation-delay:0.24s;
    -webkit-animation-delay:0.24s;
    -ms-animation-delay:0.24s;
    -o-animation-delay:0.24s;
    animation-delay:0.24s;
}

#frotateG_02{
    left:6px;
    top:6px;
    -moz-animation-delay:0.32s;
    -webkit-animation-delay:0.32s;
    -ms-animation-delay:0.32s;
    -o-animation-delay:0.32s;
    animation-delay:0.32s;
}

#frotateG_03{
    left:20px;
    top:0;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -ms-animation-delay:0.4s;
    -o-animation-delay:0.4s;
    animation-delay:0.4s;
}

#frotateG_04{
    right:6px;
    top:6px;
    -moz-animation-delay:0.48s;
    -webkit-animation-delay:0.48s;
    -ms-animation-delay:0.48s;
    -o-animation-delay:0.48s;
    animation-delay:0.48s;
}

#frotateG_05{
    right:0;
    top:20px;
    -moz-animation-delay:0.56s;
    -webkit-animation-delay:0.56s;
    -ms-animation-delay:0.56s;
    -o-animation-delay:0.56s;
    animation-delay:0.56s;
}

#frotateG_06{
    right:6px;
    bottom:6px;
    -moz-animation-delay:0.64s;
    -webkit-animation-delay:0.64s;
    -ms-animation-delay:0.64s;
    -o-animation-delay:0.64s;
    animation-delay:0.64s;
}

#frotateG_07{
    left:20px;
    bottom:0;
    -moz-animation-delay:0.72s;
    -webkit-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    animation-delay:0.72s;
}

#frotateG_08{
    left:6px;
    bottom:6px;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
    -ms-animation-delay:0.8s;
    -o-animation-delay:0.8s;
    animation-delay:0.8s;
}

@-moz-keyframes f_fadeG{
    0%{
        background-color:#57C4FF}

    100%{
        background-color:#FFFFFF}

}

@-webkit-keyframes f_fadeG{
    0%{
        background-color:#57C4FF}

    100%{
        background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
    0%{
        background-color:#57C4FF}

    100%{
        background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
    0%{
        background-color:#57C4FF}

    100%{
        background-color:#FFFFFF}

}

@keyframes f_fadeG{
    0%{
        background-color:#57C4FF}

    100%{
        background-color:#FFFFFF}

}