@font-face {
    font-family: 'Open_sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sans') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'FontAwesome';
		src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
		src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
*,
html,
body {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
a img { outline : none;border:none; }
body
	{
		background: #fff;
		width: 100%;
		height: 100%;
		font-family: "Open_sans";
		font-size: 15px;
		font-weight: normal;
		color: #968b8b;
	}
.fluid
	{
		width: 100%;
		height: auto;
	}
/*---- Set min-max width here: ----*/
.fluid > header > .wrapper,
.fluid > .content-fluid
	{
		min-width: 1210px;
		width: 1210px;
	}
/*---- Header ----*/
.fluid > header
	{
		height: 44px;
		width: 100%;
		position: relative;
		border-bottom: 1px solid #dddddd;
	}
.fluid > header > .wrapper
	{
		height: 44px;
		position: relative;
		border-right: 1px solid #dddddd;
	}
/*---- Menu icon ----*/
.fluid > header > .wrapper > .menu
	{
		height: 44px;
		width: 52px;
		border-right: 1px solid #dddddd;
		display: block;
		position: relative;
		top: 0;
		left: 0;
		cursor:pointer;
	}
.fluid > header > .wrapper > .menu > .bar
	{
		width: 13px;
		height: 2px;
		border: 0;
		background: #b6afaf;
		position: absolute;
		left: 21px;
	}
.fluid > header > .wrapper > .menu > .bar.a { top: 16px;}
.fluid > header > .wrapper > .menu > .bar.b { top: 21px;}
.fluid > header > .wrapper > .menu > .bar.c { top: 26px;}
.fluid > header > .wrapper > .menu > .bar.d
	{
		width: 0;
		height: 0;
		border-top: 4px solid transparent;
		border-right: 4px solid #b6afaf;
		border-bottom: 4px solid transparent;
		background: transparent;
		position: absolute;
		top: 18px;
		left: 12px;
	}
.fluid > header > .wrapper > .logo
	{
		color: #149fe4;
		position: absolute;
		left: 52px;
		top: 0px;
		display: block;
		width: 150px;
		height: 44px;
		text-align: center;
		padding-top: 10px;
		border-right: 1px solid #dddddd;
	}
/*---- Rights side header icons  ----*/
.fluid > header > .wrapper > a
	{
		width: 48px;
		height: 44px;
		display: block;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
		border-left: 1px solid #dddddd;
		position: absolute;
		top: 0;
	}
.fluid > header > .wrapper  > a.user
	{
		background: transparent url(../images/icon-user.png) center center no-repeat;
		right: 48px;
	}
.fluid > header > .wrapper > a.notices
	{
		background: transparent url(../images/icon-notify.png) center center no-repeat;
		right: 96px;
	}
.fluid > header > .wrapper > a.messages
	{
		background: transparent url(../images/icon-messages.png) center center no-repeat;
		right: 144px;
	}
.fluid > header > .wrapper > a.calendar
	{
		background: transparent url(../images/icon-calendar.png) center center no-repeat;
		right: 192px;
	}
.fluid > header > .wrapper > a.user.active
	{
		background: #007ab7 url(../images/icon-user-active.png) center center no-repeat;
	}
.fluid > header > .wrapper > a > span.bubble
	{
		position: absolute;
		background: #fb8f73;
		color: #fff;
		font-size: 9px;
		font-family: "Open_sans";
		font-weight: normal;
		border-radius: 3px;
		padding: 1px 3px;
		left: 20px;
		top: 6px;
	}
.fluid > header > .wrapper ul.user-open
	{
		position: absolute;
		top: 44px;
		right: 48px;
		width: 192px;
		text-align: right;
		background: #149fe4;
		list-style-type: none;
		display: none;
		z-index: 99;
	}
.fluid > header > .wrapper ul.user-open > li
	{
		text-decoration: none;
		color: #fff;
		border-bottom: 1px dotted #77caf0;
		padding: 10px 0;
		position: relative;
		height: 46px;
		background-color: transparent;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
.fluid > header > .wrapper ul.user-open > li:last-of-type
	{
		border: none;
	}
.fluid > header > .wrapper ul.user-open > li:hover
	{
		background-color: #007ab7;
	}
.fluid > header > .wrapper ul.user-open > li > a
	{
		color: #fff;
		position: absolute;
		left: 0px;
		top: 0px;
		text-decoration: none;
		padding-top: 13px;
		padding-left: 17px;
		height: 100%;
		width: 100%;
		text-align: left;
		z-index: 2;
	}
.fluid > header > .wrapper ul.user-open > li > span.icon
	{
		background-color: #007ab7;
		position: absolute;
		right: 0;
		top: 0;
		height: 45px;
		width: 47px;
		display: block;
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
		z-index: 1;
	}
.fluid > header > .wrapper ul.user-open > li:hover > span.icon
	{
		background-color: #0a6a9a;
	}
.fluid > header > .wrapper ul.user-open > li > span.icon.out
	{
		background-image: url(../images/icon-out.png);
	}
.fluid > header > .wrapper ul.user-open > li > span.icon.pencil
	{
		background-image: url(../images/icon-pencil.png);
	}
.fluid > header > .wrapper ul.user-open > li > span.icon.gear
	{
		background-image: url(../images/icon-gear.png);
	}
/*---- Language div, list ----*/
.fluid > header > .wrapper  > .langlist
	{
		width: 48px;
		height: 44px;
		background-color: #fb8f73;
		text-align: center;
		border-left: 1px solid #dddddd;
		position: absolute;
		right: 0;
		top: 0;
	}
.fluid > header > .wrapper > .langlist > a
	{
		text-decoration: none;
		color: #fff;
		position: absolute;
		top: 10px;
		left: 17px;
	}
.fluid > header > .wrapper > .langlist  ul
	{
		list-style-type: none;
		background-color: #fb8770;
		position: absolute;
		top: 44px;
		width: 47px;
		display: none;
		z-index: 99;
	}
.fluid > header > .wrapper > .langlist ul > li
	{
		text-decoration: none;
		color: #fff;
		border-bottom: 1px dotted #dddddd;
		padding: 10px 0;
	}
.fluid > header > .wrapper  > .langlist ul > li:last-of-type
	{
		border: none;
	}
.fluid > header > .wrapper > .langlist ul > li > a
	{
		text-decoration: none;
		color: #fff;
	}
/*---- End header ----*/
.fluid > .content-fluid
	{
		display: table;
		vertical-align: top;
		text-align: left;
		position: relative;
	}
/*--- aside sidebar -------*/
.fluid > .content-fluid aside
	{
		width: 202px;
		height: 100vh;
		background: #149fe4;
		display: table-cell;
		vertical-align: top;
		z-index: 98;
	}
.fluid > .content-fluid aside.minimized
	{
		width: 51px;
	}
.fluid > .content-fluid aside.minimized > ul.root > li > a > span
	{
		display: none;
	}
.fluid > .content-fluid aside > ul.root
	{
		top: 44px;
		right: 0px;
		width: 100%;
		text-align: right;
		list-style-type: none;
		z-index: 99;
	}
.fluid > .content-fluid aside > ul.root > li
	{
		text-decoration: none;
		color: #fff;
		border-bottom: 1px dotted #77caf0;
		padding: 10px 0;
		position: relative;
		height: 50px;
		background-color: transparent;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
.fluid > .content-fluid aside > ul.root li.hasChildIndicator
	{
		background-repeat: no-repeat;
		background-position: 180px center;
		background-image: url(../images/icon-arrow-right.png);
	}
.fluid > .content-fluid aside > ul.root > li:hover,
.fluid > .content-fluid aside > ul.root > li:active,
.fluid > .content-fluid aside > ul.root > li.active,
.fluid > .content-fluid aside > ul.root > li.jactive
	{
		background-color: #0a6a9a;
	}
.fluid > .content-fluid aside > ul.root > li > a
	{
		color: #c9edff;
		position: absolute;
		right: 0px;
		top: 0;
		padding-top: 14px;
		padding-right: 40px;
		text-decoration: none;
		width: 100%;
		height: 100%;
		display: block;
	}
.fluid > .content-fluid aside > ul.root > li > span.icon
	{
		background-color: #007ab7;
		position: absolute;
		left: 0;
		top: 0;
		height: 49px;
		width: 51px;
		display: block;
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
.fluid > .content-fluid aside > ul.root > li > span.icon.dashboard
	{
		background-image: url(../images/icon-dashboard.png);
	}
.fluid > .content-fluid aside > ul.root > li > span.icon.pages
	{
		background-image: url(../images/icon-pages.png);
	}
.fluid > .content-fluid aside > ul.root > li > span.icon.products
	{
		background-image: url(../images/icon-products.png);
	}
.fluid > .content-fluid aside > ul.root > li > span.icon.settings
	{
		background-image: url(../images/icon-settings.png);
	}
.fluid > .content-fluid aside > ul.root > li > span.icon.edit-menu
	{
		background-image: url(../images/icon-editors.png);
	}
.fluid > .content-fluid aside > ul.root > li > span.icon.translate
	{
		background-image: url(../images/icon-translate.png);
	}
.fluid > .content-fluid aside > ul.root > li ul
	{
		position: absolute;
		top: 0px;
		right: -202px;
		list-style-type: none;
		width: 202px;
		background-color: #007ab7;
		display: none;
		z-index: 98;
	}
.fluid > .content-fluid aside > ul.root > li ul > li
	{
		text-decoration: none;
		color: #fff;
		border-bottom: 1px dotted #77caf0;
		padding: 10px 0;
		position: relative;
		height: 50px;
		background-color: transparent;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
	}
.fluid > .content-fluid aside > ul.root > li ul > li > a
	{
		color: #c9edff;
		position: absolute;
		top: 0;
		left: 0;
		text-decoration: none;
		width: 100%;
		height: 100%;
		padding-left: 50px;
		padding-top: 14px;
		text-align: left;
		background: transparent url(../images/icon-dbl-arrow-right.png) 20px center no-repeat;
	}
.fluid > .content-fluid aside > ul.root > li ul > li:hover,
.fluid > .content-fluid aside > ul.root > li ul > li:active,
.fluid > .content-fluid aside > ul.root > li ul > li.active,
.fluid > .content-fluid aside > ul.root > li ul > li.jactive
	{
		background-color: #0a6a9a;
	}
/*------ main -------*/
.fluid main
	{
		width: 100%;
		float: left;
		display: table-cell;
		padding-left: 35px;
	}
.fluid > .content-fluid > main  .title-bar
	{
		width: 100%;
		height: 78px;
		position: relative;
	}
.fluid > .content-fluid > main  .title-bar > h1
	{
		font-size: 21px;
		font-weight: normal;
		position: absolute;
		left: 0;
		top: 24px;
	}
.fluid > .content-fluid > main  .title-bar > .actions
	{
		position: absolute;
		right: 0;
		height: 40px;
		top: 19px;
		display: block;
		list-style-type: none;
	}
.fluid > .content-fluid > main  .title-bar > .actions > li
	{
		display: inline-block;
	}
.fluid > .content-fluid > main  .title-bar> .actions > li > .action
	{
		width: 40px;
		height: 40px;
		border-radius: 2px;
		display:block;
		margin-left: 4px;
	}
.fluid > .content-fluid > main  .title-bar > .actions > li > .action.add
	{
		background: #149fe4 url(../images/icon-plus.png) center center no-repeat;
		border: 1px solid #0084c6;
	}
.fluid > .content-fluid > main  .title-bar > .actions > li > .action.del
	{
		background: #fb8f73 url(../images/icon-delete.png) center center no-repeat;
		border: 1px solid #eb603c;
	}
.fluid > .content-fluid > main  .title-bar > .actions > li > .action.refresh
	{
		background: #f6f6f6 url(../images/icon-refresh.png) center center no-repeat;
		border: 1px solid #dddddd;
	}
.fluid > .content-fluid > main  .title-bar > .actions > li > .action.copy
	{
		background: #f6f6f6 url(../images/icon-copy.png) center center no-repeat;
		border: 1px solid #dddddd;
	}
.fluid > .content-fluid > main  .title-bar > .actions > li > .action.undo
	{
		background: #f6f6f6 url(../images/icon-undo.png) center center no-repeat;
		border: 1px solid #dddddd;
	}
.fluid > .content-fluid > main  .title-bar > .actions > li > .action.save
	{
		background: #f6f6f6 url(../images/icon-save.png) center center no-repeat;
		border: 1px solid #dddddd;
	}
/*--- Content ----*/
.content
	{
		vertical-align: top;
		position: relative;
		height: auto;
		width: 100%;
	}
/*---- Module-blocks ---*/
.content > .module-block
	{
		width: 450px;
		border: 1px solid #dddddd;
		z-index: 1;
		height: 350px;
		margin-bottom: 20px;
		display: block;
		float: left;
	}
.content > .module-block:not(:nth-child(2n+1))
	{
		margin-left: 73px;
		margin-right: -4px;
	}
.content > .module-block > .module-head
	{
		width: 100%;
		height: 51px;
		border-bottom: 1px solid #dddddd;
		background-color: #f6f6f6;
		position: relative;
		z-index: 1;
	}
.content > .module-block > .module-head > .title
	{
		position: absolute;
		top: 13px;
		left: 45px;
		font-size: 17px;
	}
.content > .module-block > .module-head > input[type=checkbox]
	{
		width: 18px;
		height: 18px;
		border: 1px solid #dddddd;
		background-color: #fff;
		position: absolute;
		right: 19px;
		top: 17px;
	}
.content > .module-block > .module-head.iconed
	{
		background-image: url(../images/icon-world.png);
		background-repeat: no-repeat;
		background-position: 15px center;
	}
.content > .module-block > .module-head.iconed.world  { background-image: url(../images/icon-world.png); }
.content > .module-block > .module-head.iconed.places { background-image: url(../images/icon-places.png); }
.content > .module-block > .module-head.iconed.activity { background-image: url(../images/icon-activity.png); }

.content > .module-block > .module-content
	{
		width: 100%;
		position: relative;
	}
.content > .module-block > .module-content > .unique-counter
	{
		width: 450px;
		height: 100px;
		position: relative;
		background-color: #149fe4;
		top: -1px;
		left: -1px;
	}
.content > .module-block > .module-content > .item.ip
	{
		border-bottom: 1px solid #dddddd;
		padding: 9.25px 15px;
		position: relative;
	}
.content > .module-block > .module-content > .item.activity
	{
		border-bottom: 1px solid #dddddd;
		padding: 9.25px 15px;
		position: relative;
	}
.content > .module-block > .module-content > .item > a
	{
		color: #149fe4;
	}
.content > .module-block > .module-content > .item > a:hover
	{
		text-decoration: none;
	}
.content > .module-block > .module-content > .item.ip > .time
	{
		color: #bcbcbc;
		font-size: 12px;
		position: absolute;
		right: 10px;
		padding-top: 2px;
	}
.content > .module-block > .module-content > .item.activity > .time
	{
		color: #bcbcbc;
		font-size: 12px;
	}
.content > .module-block > .module-content > .unique-counter > .title
	{
		font-size: 20px;
		color: #fff;
		width: 150px;
		position: absolute;
		top: 20px;
		left: 15px;
	}
.content > .module-block > .module-content > .unique-counter > .counter
	{
		font-size: 35px;
		color: #fff;
		position: absolute;
		top: 24px;
		right: 15px;
	}

/*--- list items ---*/
.content.list
	{
		display: table;
		border-collapse: collapse;
		border-spacing: 0;
	}
.content > .list-row
	{
		width: 100%;
		display: table-row;
		height: 74px;
		background: #fff;
	}
.content > .list-row.title
	{
		background: #f6f6f6;
		height: 52px;
	}
.content > .list-row > .cell
	{
		border: 1px solid #dddddd;
		vertical-align: middle;
		text-align: center;
		display: table-cell;
		position: relative;
		text-align: left;
		padding-left: 18px;
		font-size: 14px;
	}
.content > .list-row.h94 { height: 94px; }
.content > .list-row > .cell > a
	{
		text-decoration: none;
		color: #968b8b;
	}
.content > .list-row.title > .cell
	{
		font-size: 17px;
	}
.content > .list-row > .cell.id { width: 52px; text-align: center; padding-left: 0;}
.content > .list-row > .cell.checkbox { width: 52px; }
.content > .list-row > .cell.checkbox > input[type=checkbox]{ width: 18px; height: 18px; border: 1px solid #dddddd; background-color: #fff; margin-top: 8px; }
.content > .list-row > .cell.image { width: 96px; text-align: center; padding-left: 0; }
.content > .list-row > .cell.image > img { margin-bottom: -3px; }
.content > .list-row > .cell.category { width: 172px; text-align: center; padding-left: 0; }
.content > .list-row > .cell.price { width: 110px; text-align: center; padding-left: 0; }
.content > .list-row > .cell.status { width: 100px; text-align: center; padding-left: 0; }
.content > .list-row > .cell.action { width: 158px; text-align: center; padding-left: 0; }
.content > .list-row > .cell.item-qnt { width: 120px; text-align: center; padding-left: 0;}
.content > .list-row > .cell.template { width: 250px;}
.content > .list-row > .cell > .order
	{
		color: #149fe4;
		font-weight: 600;
		font-size: 17px;
		cursor: pointer;
		position: relative;
	}
.content > .list-row > .cell > .order > span
	{
		width: 12px;
		height: 7px;
		display: block;
		position: absolute;
		top: 10px;
		right: -20px;
		background-image: url(../images/order-arrows.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		
		-webkit-transition: background 0.3s;
		-moz-transition: background 0.3s;
		transition: background 0.3s;
	}
.content > .list-row > .cell > .order.asc > span { background-position: 0 0; }
.content > .list-row > .cell > .order.desc > span { background-position: 0 -7px; }
/*--- cell actions ---*/
.content > .list-row > .cell > .action
	{
		width: 40px;
		height: 40px;
		border: 1px solid #0084c6;
		border-radius: 3px;
		display: inline-block;
		margin: 0 10px -3px;
		padding: 0;
	}
.content > .list-row > .cell > .action.edit { background: #149fe4 url(../images/icon-edit.png) center center no-repeat; }
.content > .list-row > .cell > .action.delete{ background: #149fe4 url(../images/icon-delete.png) center center no-repeat; }


.content > .list-message
	{
		width: 100%;
		height: 68px;
		border: 1px solid #dddddd;
		padding: 18px;
		margin-top: -1px;
	}
/*---- Editor ----*/
.content.editor
	{
		border: 1px solid #dddddd;
	}
.content.editor > .header
	{
		height:52px;
		border-bottom: 1px solid #ddd;
		position: relative;
		background: #f6f6f6 url(../images/icon-edit-dark.png) 15px center no-repeat;
	}
.content.editor > .header > span
	{
		position: absolute;
		font-size: 17px;
		left: 50px;
		top: 14px;
	}
.content.editor > .tab-line
	{
		height:42px;
		border-bottom: 1px solid #ddd;
		margin-left: 25px;
		margin-right: 25px;
		position: relative;
		margin-top: 20px;
		margin-bottom: 40px;
	}
.content.editor > .tab-line > .editor-language
	{
		position: absolute;
		right: 0px;
		top: 10px;
		background: #fff url(../images/drop-langs.png) 109px 8px no-repeat;
		width: 120px;
	}
.content.editor > .tab-line > .editor-language li > img
	{
		margin-right: 10px;
	}
.content.editor > .tab-line > .editor-language li
	{
		list-style-type: none;
		display: none;
	}
.content.editor > .tab-line > .editor-language li > a
	{
		text-decoration: none;
		color: #868686;
	}
.content.editor > .tab-line > .editor-language li.active
	{
		display: block;
	}
.content.editor > .tab-line > span
	{
		display: inline-block;
		font-size: 15px;
		padding: 10px 25px;
		cursor: pointer;
	}
.content.editor > .tab-line > span.active
	{
		font-weight: bold;
		border: 1px solid #ddd;
		border-bottom: 1px solid #fff;
		background-color: #fff;
	}
.content.editor > .editor-content > div
	{
		display: none;
		margin-right: 25px;
		margin-left: 25px;
		margin-bottom: 25px;
	}
.content.editor > .editor-content > div.active
	{
		display: block;
	}
.general table { width: 100%; border-spacing: 20px;}
.general table tr > td.title { text-align: right; padding-right: 20px; width: 150px; }
.general table tr > td.title.top  { vertical-align: top; padding-top: 7px; }
.general table tr > td.title > span { color: #ff0000;margin-right: 5px; }
.general table tr > td.title.top  { vertical-align: top;  }
.general table tr > td > input { width: 100%; height: 34px; border: 1px solid #ddd; padding-left: 15px; padding-right: 15px; color: #968b8b; font-family: "Open_sans"; }
/* Pagination */
.pagination
	{
		width: 100%;
		height: 68px;
		border: 1px solid #dddddd;
		padding: 18px;
		margin-top: -1px;
	}
.pagination.from-labels { border: none; margin: 0; padding-left: 45px;  height: 78px; }
.pagination > a
	{
		width: 34px;
		height: 34px;
		border: 1px solid #dddddd;
		display: block;
		float: left;
		margin-left: -1px;
		font-size: 14px;
		color: #968b8b;
		text-decoration: none;
		padding-top: 7px;
		text-align: center;
	}
.pagination > a.active
	{
		border: 1px solid #0084c6;
		color: #fff;
		background-color: #149fe4;
	}
.pagination > a:first-of-type
	{
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
.pagination > a:last-of-type
	{
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
.clearfix
	{
		clear: both;
		width: 100%;
		height: 1px;
	}
/* Richtext editor */
.inlu-editor
	{
		border: 1px solid #ddd;
		position: relative;
		width: 100%;
		height: 300px;
	}
.inlu-editor > .editor-btns
	{
		border-bottom: 1px solid #ddd;
		background-color: #f5f5f5;
		width: 100%;
		height: 70px;
	}
.inlu-editor > .editor-btns > .btn-list
	{
		float: left;
		margin: 5.5px 5px 0px;
	}
.inlu-editor > .editor-btns > select.btn-list
	{
		display: block;
		height: 26px;
		background-color: #fff;
		color: #555555;
		border: 1px solid #ddd;
		padding-left: 7px;
		border-radius: 2px;
	}
.inlu-editor > .editor-btns > span,
.inlu-editor > .editor-btns > .btn-list > span
	{
		float: left;
		display: block;
		width: 26px;
		height: 26px;
		background-color: #fff;
		color: #555555;
		border: 1px solid #ddd;
		margin-left: -1px;
		padding-top: 2px;
		padding-left: 7px;
		cursor: pointer;
		position: relative;
	}
.inlu-editor > .editor-btns span.selected
	{
		background-color: #f4ebbf;
	}
.inlu-editor > .editor-btns span:first-of-type
	{
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}
.inlu-editor > .editor-btns span:last-of-type
	{
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
.inlu-editor > iframe
	{
		width: 100%;
		height: 228px;
	}
span.bold { font-weight: bold; }
span.underline { text-decoration: underline; }
span.italic { font-style: italic; }
span.strike { text-decoration: line-through; }
span.undo { background: url(../images/icon-undo.png) center center no-repeat; }
span.redo { background: url(../images/icon-redo.png) center center no-repeat; }
span.subscript:after
	{
		content: '2';
		font-size: 9px;
		position: absolute;
		bottom: 0px;
	}
span.superscript:after
	{
		content: '2';
		font-size: 9px;
		position: absolute;
		top: 3px;
	}
/*-- translations */
.content.translation
	{
		border: 1px solid #dddddd;
	}
.content.translation .header
	{
		height:52px;
		border-bottom: 1px solid #ddd;
		position: relative;
		background: #f6f6f6 url(../images/icon-translation.png) 15px center no-repeat;
	}
.content.translation .header > span
	{
		position: absolute;
		font-size: 17px;
		left: 50px;
		top: 14px;
	}
.content.translation .header > a
	{
		font-size: 17px;
		left: 50px;
		top: 14px;
		display: block;
		float: right;
		height: 52px;
		width: auto;
		padding: 15px 10px 0;
		border-left: 1px solid #ddd;
		margin-right: -1px;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
		color: #868686;
		text-decoration: none;
		font-size: 15px;
		font-weight: normal;
	}
.content.translation .header > a.active,
.content.translation .header > a:hover
	{
		background-color: #149fe4;
		color: #fff;
		border: none;
		font-weight: bold;
		border-left: 1px solid #149fe4;
	}
.content.translation > .translate-actions
	{
		height: 40px;
		margin: 20px 25px;
		position: relative;
	}
.content.translation  .add-label
	{
		float: left;
		color: #fff;
		background-color: #149fe4;
		height: 40px;
		border: 1px solid #0084c6;
		border-radius: 3px;
		font-size: 15px;
		font-weight: normal;
		font-family: "Open_sans";
		padding-left: 10px;
		padding-right: 10px;
		cursor: pointer;
	}
.content.translation  .search-label
	{
		float: left;
		height: 40px;
		border: 1px solid #ddd;
		border-radius: 3px;
		font-size: 15px;
		font-weight: normal;
		font-family: "Open_sans";
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 30px;
	}
.content.translation  .search-label-button
	{
		float: left;
		height: 40px;
		border: 1px solid #ddd;
		border-radius: 3px;
		font-size: 15px;
		font-weight: normal;
		font-family: "Open_sans";
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 10px;
		color: #fff;
		border: 1px solid #eb603c;
		background-color: #fb8f73;
		cursor: pointer;
	}
.content.translation .translate-content
	{
		display: table;
		width: 100%;
	}
.content.translation .translate-content > .translate-row
	{
		display: table-row;
		width: 100%;
	}
.content.translation .translate-content > .translate-row > .translate-cell
	{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		height: 45px;
	}
.content.translation .translate-content > .translate-row > .translate-cell.id { width: 100px; }
.content.translation .translate-content > .translate-row > .translate-cell.labels{ text-align: left; }
.content.translation .translate-content > .translate-row > .translate-cell.translations{ width: 280px;padding-left:5px;text-align:left; }
.content.translation .translate-content > .translate-row > .translate-cell.actions { width: 170px; }

.content.translation .translate-content > .translate-row > .translate-cell.translations > input
	{
		width: 275px;
		height: 35px;
		border: 1px solid #ddd;
		border-radius: 3px;
		padding-left: 5px;
		padding-right: 5px;
		color: #968b8b;
		font-size: 14px;
		font-family: "Open_sans";
		font-weight: normal;
	}
.content.translation .translate-content > .translate-row > .translate-cell.actions > .action
	{
		width: 35px;
		height: 35px;
		border: 1px solid #0084c6;
		border-radius: 3px;
		display: inline-block;
		padding: 0;
		margin: 0 5px;
	}
.content.translation .translate-content > .translate-row > .translate-cell.actions > .action.save{ background: #149fe4 url(../images/icon-save-white.png) center center no-repeat; }
.content.translation .translate-content > .translate-row > .translate-cell.actions > .action.delete{ background: #149fe4 url(../images/icon-delete.png) center center no-repeat; }

/*--- popup box ---*/
.popup-box
	{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background-color: rgba(0,0,0,0.6);
		display: none;
		text-align: center;
	}
.popup-box > .popup-content
	{
		width: 450px;
		height: auto;
		background-color: #fff;
		z-index: 101;
		margin: 65px auto;
		position: relative;
		border: 1px solid #ddd;
		border-radius: 3px;
		padding: 25px;
	}
.popup-box > .popup-content:before,
.popup-box > .popup-content:after
	{
		display: table;
		clear: both;
		content: ' ';
	}
.popup-box > .popup-content input[type=text]
	{
		width: 100%;
		height: 40px;
		border: 1px solid #ddd;
		color: #b3b3b3;
		font-family: "Open_sans";	
		font-size: 17px;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 10px;
	}
.popup-box > .popup-content .errorMessage
	{
		color: #fb8f73;
		font-family: "Open_sans";	
		font-size: 13px;
		width: 100%;
		text-align: right;
		display: block;
		margin-bottom: 10px;
	}
.popup-box > .popup-content .message
	{
		width: 100%;
		text-align: left;
		color: #b3b3b3;
		font-family: "Open_sans";	
		font-size: 17px;
		display:block;
		height: auto;
		margin-bottom: 15px;
	}
.popup-box > .popup-content .button
	{
		width: 110px;
		height: 40px;
		font-family: "Open_sans";	
		padding-left: 7px;
		padding-right:7px;
		display: inline-block;
		font-size: 15px;
		text-decoration: none;
		padding-top: 7px;
	}
.popup-box > .popup-content .button.confirm
	{
		border: 1px solid #0084c6;
		background-color: #149fe4;
		border-radius: 3px;
		color: #fff;
		font-weight: bold;
		float: right;
	}
.popup-box > .popup-content button.button.confirm,
.popup-box > .popup-content input.button.confirm
	{
		border: 1px solid #0084c6;
		background-color: #149fe4;
		border-radius: 3px;
		color: #fff;
		font-weight: bold;
		float: right;
		padding: 0;
		text-align: center;
	}
.popup-box > .popup-content .button.cancel
	{
		border: 1px solid #ddd;
		background-color: #f6f6f6;
		border-radius: 3px;
		color: #868686;
		float: left;		
	}
.wrap-select
	{
		width: 145px;
		min-height: 40px;
		margin-right:10px;
		position: relative;
		display: inline-block;
	}
.wrap-select > .select
	{
		background: #fff url(../images/drop-langs.png) 120px 17px no-repeat;
		width: 145px;
		min-height: 40px;
		border: 1px solid #ddd;
		border-radius: 3px;
		padding: 9px 10px 9px;
		z-index: 18;
		position: absolute;
		top: 0px;
		left: 0px;
		
		color: #868686;
		-webkit-appearance: none;
	}
.wrap-select.no-border > .select
	{
		border: none;
	}	
.wrap-select > .select li
	{
		list-style-type: none;
		cursor: pointer;
		color: #868686;
		background-repeat: no-repeat;
		background-position: 0 5px;
		padding-left: 23px;
		display: none;
	}
.wrap-select > .select li.selected
	{
		display: list-item;
	}
.float-left { float: left; }
.float-right { float: right; }
.no-border { border: none; }
.no-rmargin { margin-right: 0; }

/*--- menu drag-drop ---*/
.title-table
	{
		width: 100%;
		display: table;
		border-collapse: collapse;
		border-spacing: 0;
		background-color: #f6f6f6;
		height: 50px;
	}

.title-table > .cell
	{
		border: 1px solid #dddddd;
		vertical-align: middle;
		text-align: center;
		display: table-cell;
		position: relative;
		text-align: left;
		padding-left: 18px;
		font-size: 14px;
		min-height: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
.title-table > .cell { font-size: 17px; }
.title-table > .cell > a
	{
		text-decoration: none;
		color: #968b8b;
	}
.title-table > .cell.drag-drop { width: 80px; font-size: 12px; text-align: center;  padding: 0; }
.title-table > .cell.action { width: 100px; text-align: center;  padding: 0; }
.title-table > .cell.type { width: 120px; text-align: center;  padding: 0; }
.title-table > .cell.sequen { width: 85px; text-align: center;  padding: 0; }

.sort-placeholder { background-color: #ddd; }

.menu-table
	{
		width: 100%;
		display: table;
		border-collapse: collapse;
		border-spacing: 0;
		margin-top: -1px;
		background: #fff;
	}
.menu-table > .cell
	{
		border: 1px solid #dddddd;
		vertical-align: middle;
		text-align: center;
		display: table-cell;
		position: relative;
		text-align: left;
		padding-left: 18px;
		font-size: 14px;
		min-height: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
.menu-table > .cell.draggable { color: #b9b9b9; font-size: 18px; width: 80px; text-align: center;  padding: 0; cursor: pointer; -webkit-transition: 0.3s; -moz-transition: 0.3s; transition: 0.3s; }
.menu-table > .cell.draggable:hover { font-size: 20px; color: #737373; }
.menu-table > .cell.block { padding: 0; }
.inner-table
	{
		width: 100%;
		display: table;
		border-collapse: collapse;
		border-spacing: 0;
	}
.inner-table > .row { display: table-row; position: relative; height: 30px; z-index: 1; }
.inner-table > .row > div {
		border: 0;
		vertical-align: middle;
		text-align: center;
		display: table-cell;
		position: relative;
		text-align: left;
		padding-left: 5px;
		vertical-align: middle;
	}
.inner-table > .row:hover > div { background: #fafafa; }
.inner-table > .row > .action { width: 100px; text-align: center;  padding: 0; border-left: 1px solid #dddddd;}
.inner-table > .row > .type { width: 120px; text-align: center;  padding: 0; border-left: 1px solid #dddddd;}
.inner-table > .row > .sequen { width: 85px; text-align: center;  padding: 0; border-left: 1px solid #dddddd;}	
	

.row.root > .name { font-size: 18px; font-weight: 600; }
.row > .name > .list-item { display: inline-block; width: 15px; height: 5px; border-top: 1px solid #ddd; position: relative; margin-right: 5px; }
.row > .name > .list-item:after { content: ' '; position: absolute; top: -2px; right: -2px; width: 4px; height: 4px; background: #ddd; display: block; border-radius: 2px; }
.row > .name > .list-item > .node { position: absolute; width: 1px; height: 1px; background-color: #dddddd; }

.row a { color: #b9b9b9; text-decoration: none; -webkit-transition: color 0.3s; -moz-transition: color 0.3s; transition: color 0.3s; }
.row a:hover { color: #737373; }

.row > .sequen > a { padding-left: 5px; padding-right: 5px; }
.row > .action > a { padding-left: 5px; padding-right: 5px; }
.iconed {
	font: normal normal normal 14px/1 FontAwesome;
	display: inline-block;
	font-size: inherit;
	color: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
  }

.iconed.drag:before { content: "\f047"; }
.iconed.arrow-up:before { content: "\f062"; }
.iconed.arrow-down:before { content: "\f063"; }
.iconed.pencil:before { content: "\f040"; }
.iconed.trash-can:before { content: "\f1f8"; }